{% extends 'blog/base.html' %}
{% load staticfiles %}
<head>
	<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
	<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap-theme.min.css">
	<link rel="stylesheet" href="{% static 'css/blog.css' %}">
</head>
<body>
	{% block content %}
    	<div class="post">
        	{% if post.published_date %}
            	<div class="date">
                	<h6>更新日：{{ post.published_date }}</h6>
	            </div>
    	    {% endif %}
        	<h1>{{ post.title }}</h1>
	        <p>{{ post.text|linebreaks }}</p>
    	</div>
	{% endblock %}
</body>